* {
    margin: 0;
    padding: 0;
}
body {
    color: #330000;
    font: 16px Verdana;
    background-color: #fff;
}
ul {
    list-style: none;
}
div.roller{
	display:inline-block;
	position:relative;
	overflow:hidden;
	cursor:pointer;
	background:#666;
	border:4px solid #333;
	border-radius: 6px;
}
.roller-back{
	height:80%;
	width:100%;
	position:absolute;
	display: block;
	bottom:0;
}
div.roller ul{
	margin:1px auto 2px;
	background:#dbdbdb;
	position: relative;
	padding-top: 1px;
	padding-bottom: 2px;
}
div.roller li{
	margin-bottom: 2px;
}
div.roller div.window{
	height:100%;
	width:100%;
	position: absolute;
	top:0;
}
div.roller .roller-window{
	width:100%;
	display: block;
}
div.roller .roller-window.t{
	height:18%;
}
div.roller .roller-window.m{
	height:40%;
	margin:0 auto;
	opacity: 0.8;
}
div.roller .roller-window.b{
	height:42%;
}
h3{
	margin: 0;
	padding: 0;
    display: inline-block;
    font-family: "Impact";
    font-size: 31px;
    text-transform: uppercase;
}
p {
    font-size: 30px;
    margin-left: -30px;
    color:#000;
    border-bottom:1px #000 solid;
}

.link-morph {
    color: black;
    margin: 20px 0 20px 250px;
}
